

.dndPlaceholder {
    background-color: orangered;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px dotted #00529b;
    position: relative;
    padding: 15px;
}

.panel {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #c6c6c6;

    .panel-body {
        width: 100%;
        

        button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
            background: #00529b;
            color: #fff;

            &:hover {
                background: #0059d4;
            }
        }
    }
}
