
<div class="col-12 pt-3">
    <div class="col-8 float-left pl-0">
        <button mat-mini-fab (click)="createNewLookup()" *ngIf="createlookUpButton" title="Add"><i class="fa fa-plus"></i><span class="d-none">Add</span></button>
        <button mat-mini-fab (click)="editLookup()" *ngIf="editlookUpButton" title="Edit"><i class="fa fa-pencil-alt"></i><span class="d-none">Edit</span></button>
        <button mat-mini-fab (click)="viewLookup()" *ngIf="viewlookUpButton" title="View"><i class="fa fa-eye"></i><span class="d-none">View</span></button>
        <button mat-mini-fab (click)="deleteLookup()" *ngIf="deletelookUpButton" title="Delete"><i class="fa fa-trash"></i><span class="d-none">Delete</span></button>
        <button mat-mini-fab (click)="refreshLookup()" title="Refresh"><i class="fa fa-repeat"></i><span class="d-none">Refresh</span></button>
        <!--<button mat-mini-fab><i class="fa fa-filter"></i></button>
        <button mat-mini-fab [matMenuTriggerFor]="menu"><i class="fas fa-file-excel"></i></button>-->
        <!--<mat-menu #menu="matMenu">
            <button mat-menu-item>Export All Columns</button>
            <button mat-menu-item>Export Visible Columns</button>
        </mat-menu>-->
    </div>
    <mat-form-field class="col-4 float-left pr-0">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th scope="col" tabindex="0" mat-header-cell *matHeaderCellDef width="80px">
                <mat-checkbox tabindex="0" aria-label="Check Uncheck All" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td tabindex="0" mat-cell *matCellDef="let row" class="mat-data">
                <mat-checkbox tabindex="0" aria-label="Check Uncheck Lookup" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Lookup Name Column -->
        <ng-container matColumnDef="lookupName">
            <th scope="col" tabindex="0" mat-header-cell title="Lookup Name" aria-label="Lookup Name" *matHeaderCellDef mat-sort-header> Lookup Name </th>
            <td tabindex="0" mat-cell *matCellDef="let row"><a tabindex="0" title="{{row.lookupName}}" attr.aria-label="{{row.lookupName}}" (click)="lookupclick(row.lookupId)">{{row.lookupName}}</a>  </td>
        </ng-container>
        <!--<ng-template *matCellDef="let row">
          <a tabindex="0" class="hyperlinkText" (click)="viewLookup(row.lookupId)">{{row.lookupName}}</a>
        </ng-template>-->
        <!-- Lookup Long Description Column -->
        <ng-container matColumnDef="lookupLongDescription">
            <th scope="col" tabindex="0"   mat-header-cell *matHeaderCellDef mat-sort-header> Lookup Long Description </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.lookupLongDescription}}" attr.aria-label="{{row.lookupLongDescription}}"> {{row.lookupLongDescription}} </td>
        </ng-container>

        <!-- Lookup Description Column -->
        <ng-container matColumnDef="lookupDescription">
            <th scope="col" tabindex="0" mat-header-cell *matHeaderCellDef mat-sort-header> Lookup Description </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.lookupDescription}}" attr.aria-label="{{row.lookupDescription}}"> {{row.lookupDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="lookupShortDescription">
            <th scope="col" tabindex="0"  mat-header-cell *matHeaderCellDef mat-sort-header> Short Description </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.lookupShortDescription}}" attr.aria-label="{{row.lookupShortDescription}}"> {{row.lookupShortDescription}} </td>
        </ng-container>


        <ng-container matColumnDef="lookupDisplayDescription">
            <th scope="col" tabindex="0"  mat-header-cell *matHeaderCellDef mat-sort-header> Display Description </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.lookupDisplayDescription}}" attr.aria-label="{{row.lookupDisplayDescription}}"> {{row.lookupDisplayDescription}} </td>
        </ng-container>
        <!-- IsUsedInDisplay Column -->

        <ng-container matColumnDef="isUsedInDisplay">
            <th scope="col" tabindex="0" title="Is UsedInDisplay" aria-label="Is UsedInDisplay" mat-header-cell *matHeaderCellDef mat-sort-header> Is UsedInDisplay </th>
            <td tabindex="0" mat-cell *matCellDef="let row">
                <p *ngIf="row.isUsedInDisplay == true" title="Yes" aria-label="Yes">
                    Yes
                </p>
                <p *ngIf="row.isUsedInDisplay == false" title="No" aria-label="No">
                    No
                </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="effectiveFrom">
            <th scope="col" tabindex="0" mat-header-cell *matHeaderCellDef mat-sort-header>Effective From </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.effectiveFrom | date:'shortDate'}}" attr.aria-label="{{row.effectiveFrom | date:'shortDate'}}"> {{row.effectiveFrom | date:'shortDate'}} </td>
        </ng-container>


        <ng-container matColumnDef="effectiveTo">
            <th scope="col" tabindex="0" mat-header-cell *matHeaderCellDef mat-sort-header>Effective To </th>
            <td tabindex="0" mat-cell *matCellDef="let row" title="{{row.effectiveTo | date:'shortDate'}}" attr.aria-label="{{row.effectiveTo | date:'shortDate'}}"> {{row.effectiveTo | date:'shortDate'}} </td>
        </ng-container>

        <!-- rowStatus Column -->
        <ng-container matColumnDef="rowStatus">
            <th scope="col" tabindex="0" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td tabindex="0" mat-cell *matCellDef="let row">
                <p *ngIf="row.rowStatus == 'A' " title="Active" aria-label="Active">
                    Active
                </p>
                <p *ngIf="row.rowStatus == 'D' " title="Inactive" aria-label="Inactive">
                    Inactive
                </p>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>


