<div class="form_builder_field fieldbox" *ngIf="chkpre=='drop'">
    <div class="row layoutm">
        <div class="col-md-12 layoutp">
            <div>
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Radio Group Label</mat-label>
                    <input matInput type="text" autocomplete="off" [(ngModel)]="item.label" />
                </mat-form-field>
                <div class="row">
                    <span *ngIf="item.valid" class="text-danger input_alert_txt">Please select Radio button </span>
                </div>
            </div>
            <div *ngIf="item.templateControlOptions.length!=0">

                <mat-radio-group >
                    <mat-radio-button style="margin:5px" *ngFor="let opt of item.templateControlOptions" [value]="opt.label">{{opt.label}}</mat-radio-button>
                   
                </mat-radio-group>
            
            </div>
            <div>
                <button class="btn btn-primary text-white mt-2" (click)="addOptions(item)">Add Options</button>
            </div>
            <div *ngIf="item.required">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Error Message</mat-label>
                    <input matInput type="text" autocomplete="off" [(ngModel)]="item.errormsg" />
                </mat-form-field>
            </div>
            <mat-checkbox (change)="checkChange(item,$event)" [(ngModel)]="item.required" [checked]="item.required">Required</mat-checkbox>
        </div>
    </div>
</div>
<div *ngIf="chkpre=='preview'">
    <mat-label>{{item.label}}</mat-label>
    <div>
        <mat-radio-group>
            <mat-radio-button style="margin:5px" *ngFor="let opt of item.templateControlOptions" [value]="opt.label">{{opt.label}}</mat-radio-button>
        </mat-radio-group>
    </div>
</div>