:host {
    .map_location_alert {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        margin: auto;

        .valigmmdl {
            margin: auto; /* Important */
            text-align: center;
        }
    }



    .fuse-card {
        max-width: unset !important;
        padding: 8px 10px 0px 10px;
        border-color: rgba(0, 0, 0, 0.2) !important;
    }

    .card-divider {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    form {
        width: 100%;
        // max-width: 800px !important;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }

    .mat-horizontal-content-container {
        padding: 0 20px 20px 20px !important;
    }

    .horizontal-stepper-wrapper,
    .vertical-stepper-wrapper {
        max-width: 800px;
    }



    .image {
        background: #fff;
        border-radius: 6px;
        min-height: 250px;
        min-width: 50%;
        box-shadow: 1px 2px 20px hsla(0,0%,4%,.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #c0c4c7;
    }

    .downimage {
        background: #fff;
        border-radius: 6px;
        height: 150px;
        width: 100%;
        box-shadow: 1px 2px 20px hsla(0,0%,4%,.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #c0c4c7;
    }



    .imagedis {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .label {
        color: white;
        padding: 8px;
        padding-left: 16px;
        border-radius: 5px;
        padding-right: 16px;
        background: #00529b;
    }

    .hcheckbox {
        .inputGroup {
            display: inline-block;
        }

        .inputGroup2 {
            display: block;
        }

        .inputGroup, .inputGroup2 {
            background-color: #fff;
            margin: 10px 0.5%;
            position: relative;
            min-width: 32%;

            label {
                padding: 16px;
                width: 100%;
                display: block;
                text-align: left;
                color: #000;
                border: #ccc 2px solid;
                cursor: pointer;
                position: relative;
                z-index: 2;
                transition: color 200ms ease-in;
                overflow: hidden;

                &:before {
                    width: 100%;
                    height: 10px;
                    border-radius: 50%;
                    content: "";
                    border-radius: 5px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale3d(1, 1, 1);
                    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0;
                    z-index: -1;
                }

                &:after {
                    width: 28px;
                    height: 28px;
                    content: "";
                    border: 2px solid #d1d7dc;
                    background-color: #fff;
                    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                    background-repeat: no-repeat;
                    background-position: 2px 3px;
                    border-radius: 50%;
                    z-index: 2;
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: all 200ms ease-in;
                }
            }

            input:checked ~ label {
                color: #000;
                border: #00529b 2px solid;
                border-radius: 5px;
                -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);
                -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);
                box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);

                &:before {
                    transform: translate(-50%, -50%) scale3d(56, 56, 1);
                    opacity: 1;
                }

                &:after {
                    background-color: #00529b;
                    border-color: #00529b;
                    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,82,115,1);
                    -moz-box-shadow: 0px 2px 16px 0px rgba(0,82,115,1);
                    box-shadow: 0px 2px 16px 0px rgba(0,82,115,1);
                }
            }

            input {
                width: 32px;
                height: 32px;
                order: 1;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                visibility: hidden;
            }
        }
    }
}
.textcolor {
    color: #039be5 !important;
}
.divspace {
    padding: 10px 0px 0px 0px  !important;
}

