<div [formGroup]="form" *ngIf="chkpages=='details'"> 
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{field.label}}</mat-label>
        <input matInput type="text" [name]="field.name" autocomplete="off" [formControlName]="field.name" (input)="field.input(form,field.name)" />
    </mat-form-field>
</div>

<div [formGroup]="form" *ngIf="chkpages=='requestDetails'"> 
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{field.label}}</mat-label>
        <input matInput type="text" [name]="field.name" autocomplete="off" [value]="field.value" [disabled]="true"/>
    </mat-form-field>
</div>